@media (min-width: 1025px) {
    html {
        font-size: 100%;
    }
  }

  @media (min-height: 1025px) {
    html {
        font-size: 130%;
    }
  }

footer {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0;
    text-align: center;
    padding: 0.5rem;
}

.disable-zoom {
    touch-action: none;
}

.splash img {
    width: 10rem;
}

body {
    text-align: center;
    padding: 2rem;
    font-family: 'Courier New', Courier, monospace
}