

.page button {
    font-size: 150%;
    padding: 0.7rem;
    margin-top: 1rem;
}

.countdown img {
    margin-top: 5rem;
    height: 10rem;
    width: 12rem;
}

.select-menu img {
    margin: 1rem;
    width: 5rem;
    height: 6rem;
}

.not-selected {
    opacity: 0.5;
}

.selected {
    opacity: 1;
}


.operation img {
    margin: 0;
    border: none;
    width: 5rem;
    height:  auto ; 
}

#keyboardold {
    bottom: 6rem;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

#status {
    margin: 4rem;
    font-size: 400%;
    text-align: center;
}

.keyboard  {
    margin-top: 0.2rem;
}

.keyboard img {
    margin: 20px;
    border: none;
    width: 3rem;
    height: auto;
}

.operation {
    font-size: 5rem;
    color: black;
    text-align: center;
}

.status {
    font-size: 1rem;
    text-align: center;
}

.success {
    color: green;
}

.error {
    color: red;
}
