@media (min-width: 1025px) {
    html {
        font-size: 100%;
    }
  }

  @media (min-height: 1025px) {
    html {
        font-size: 150%;
    }
  }

.disable-zoom {
    touch-action: none;
}

.page {
    text-align: center;
    padding: 2rem;
    font-family: 'Courier New', Courier, monospace
}

.page img {
    width: 10rem;
}


#countdown {
    font-size: 5rem;
}

.final_score {
    font-size: 8rem;
}

.select-menu button {
    border: none;
    margin: 1rem;
    width: 5rem;
    height: 6rem;
}

.operation button {
    margin: 0;
    border: none;
    width: 5rem;
    height: 6rem; 
}

#keyboard {
    bottom: 3rem;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

.keyboard button {
    border: none;
    width: 5rem;
    height: 6rem; 
}

.digit-0 {
    background-size: contain;
    background-image: url("../img/digits/0.png");
}

.digit-1 {
    background-size: contain;
    background-image: url("../img/digits/1.png");
}

.digit-2 {
    background-size: contain;
    background-image: url("../img/digits/2.png");
}

.digit-3 {
    background-size: contain;
    background-image: url("../img/digits/3.png");
}

.digit-4 {
    
    background-size: contain;
    background-image: url("../img/digits/4.png");
}

.digit-5 {
    background-size: contain;
    background-image: url("../img/digits/5.png");
}

.digit-6 {
    background-size: contain;
    background-image: url("../img/digits/6.png");
}

.digit-7 {
    background-size: contain;
    background-image: url("../img/digits/7.png");
}

.digit-8 {
    background-size: contain;
    background-image: url("../img/digits/8.png");
}

.digit-9 {
    background-size: contain;
    background-image: url("../img/digits/9.png");
}

.digit-plus {
    background-size: contain;
    background-image: url("../img/digits/plus.png");
}

.digit-minus {
    background-size: contain;
    background-image: url("../img/digits/minus.png");
}

.digit-equals {
    background-size: contain;
    background-image: url("../img/digits/equals.png");
}

.digit-times {
    background-size: contain;
    background-image: url("../img/digits/times.png");
}

.digit-divide {
    background-size: contain;
    background-image: url("../img/digits/divide.png");
}

.not-selected {
    opacity: 0.5;
}

.selected {
    opacity: 1;
}

.operation {
    font-size: 5rem;
    color: black;
    text-align: center;
}

.status {
    font-size: 1rem;
    text-align: center;
}

.success {
    color: green;
}

.error {
    color: red;
}
